<% include ../partials/head %>
<% include ../partials/header %>


<div class="wrap">
	<h1>Update <%=user.username%></h1>
	<br>
	<p><%session.editMessage%></p>
	<div class="ejs-text">
		<form action="/users/<%=user._id%>/edited?_method=PUT" method="POST" enctype="multipart/form-data">
			<input type="hidden" name="username" value="<%=user.username%>" />
			<label>Change Your Password:</label>
			<input type="password" name="password" value="<%=user.password%>">
			<br>
			<label>Change Your Email:</label>
			<input type="email" name="email" value="<%=user.email%>" />
			<br>
			<label>Add A New Profile Message:</label>
			<textarea name="message"></textarea>
			<br>
			<label>Update Your Location:</label>
			<input type="text" name="city" value="<%=user.city%>" />
			<select name="state" id="user-state-edit" value="<%=user.state%>">
			<!-- <input type="text" name="state" list="statename" /> -->
			<!-- <datalist id="statename"> -->
				<option value="<%=user.state%>" selected><%=user.state%></option>
				<option value="Alabama">Alabama</option>
				<option value="Alaska">Alaska</option>
				<option value="Arizona">Arizona</option>
				<option value="Arkansas">Arkansas</option>
				<option value="California">California</option>
				<option value="Colorado">Colorado</option>
				<option value="Connecticut">Connecticut</option>
				<option value="Delaware">Delaware</option>
				<option value="Florida">Florida</option>
				<option value="Georgia">Georgia</option>
				<option value="Hawaii">Hawaii</option>
				<option value="Idaho">Idaho</option>
				<option value="Illinois">Illinois</option>
				<option value="Indiana">Indiana</option>
				<option value="Iowa">Iowa</option>
				<option value="Kansas">Kansas</option>
				<option value="Kentucky">Kentucky</option>
				<option value="Louisiana">Louisiana</option>
				<option value="Maine">Maine</option>
				<option value="Maryland">Maryland</option>
				<option value="Massachusetts">Massachusetts</option>
				<option value="Michigan">Michigan</option>
				<option value="Minnesota">Minnesota</option>
				<option value="Mississippi">Mississippi</option>
				<option value="Missouri">Missouri</option>
				<option value="Montana">Montana</option>
				<option value="Nebraska">Nebraska</option>
				<option value="Nevada">Nevada</option>
				<option value="New Hampshire">New Hampshire</option>
				<option value="New Jersey">New Jersey</option>
				<option value="New Mexico">New Mexico</option>
				<option value="New York">New York</option>
				<option value="North Carolina">North Carolina</option>
				<option value="North Dakota">North Dakota</option>
				<option value="Ohio">Ohio</option>
				<option value="Oklahoma">Oklahoma</option>
				<option value="Oregon">Oregon</option>
				<option value="Pennsylvania">Pennsylvania</option>
				<option value="Rhode Island">Rhode Island</option>
				<option value="South Carolina">South Carolina</option>
				<option value="South Dakota">South Dakota</option>
				<option value="Tennessee">Tennessee</option>
				<option value="Texas">Texas</option>
				<option value="Utah">Utah</option>
				<option value="Vermont">Vermont</option>
				<option value="Virginia">Virginia</option>
				<option value="Washington">Washington</option>
				<option value="West Virginia">West Virginia</option>
				<option value="Wisconsin">Wisconsin</option>
				<option value="Wyoming">Wyoming</option>
				<option value="District of Columbia">District of Columbia</option>
				<option value="International">International</option>
			<!-- </datalist> -->
			</select>
			<br><br>
			<img id="editProfImgUpload" class="upload-img" 
				<%if (user.image.data) {%>
					src= "/users/<%=user._id%>/image"
				<%} else {%>
					src= "/images/beerdefault.png"
				<%}%> 
				alt="<%=user.username%> profile">
			<label>Choose a New Profile Picture</label>
			<script> 
				document.addEventListener("DOMContentLoaded", function(event){
					$('#editProfImg').on("click", function(event){
						$('.imageFile').change(function(){
							readImgUrlAndPreview(this);
							function readImgUrlAndPreview(input){
								if (input.files && input.files[0]) {
									const newReader = new FileReader();
									newReader.onload = function(e) {
										$('#editProfImgUpload').attr('src', e.target.result);
									}
									newReader.readAsDataURL(input.files[0]);
								};
								
							}
						})
					})
				});
			</script>
			<label id="editProfImg" class="custom">Upload a File<br>
			<input class="imageFile" type="file" name="imageFile" /></label>
			<br><br>
			<button>Edit Your Account</button>
		</form>
		<br>
		<form action="/users/<%=user._id%>?_method=DELETE" method="POST">
			<button>Permanently Delete Your Account</button>
		</form>
		<br>
	</div>
</div>

<% include ../partials/footer%>