<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1><%=user.username%>'s Profile</h1>
	<br>
	<div class="show-wrap">
		<div class="show-img">
			<img class="upload-img" 
			<%if (user.image.data) {%>
				src= "/users/<%=user._id%>/image"
			<%} else {%>
				src= "/images/beerdefault.png"
			<%}%>
			alt="<%=user.username%> profile">
		</div>
		<div class="show-text">
			<p>Email: <%=user.email%></p>
			<p>Located In: <%=user.city%>, <%=user.state%></p>
			<%if(isCurrent) {%>
				<form action="/users/<%=user._id%>/edit" method="get">
					<button>Edit Yourself</a></button>
				</form>
			<%}%>
		</div>
		<br>
	</div>
	<br><br>
	<img src="/images/fridge.png" id="fridge-picture">
	<div id="fridge">
		<div class="inside-container">
			<h3><%= user.username %>'s Fridge:</h3>
			<ul class="user-beer-fridge-ul">
				<% for (let i = 0; i < user.fridge.length; i++){%>
					<li class="user-fridge-li">
						<a href="/beers/<%=user.fridge[i]._id%>" class="user-fridge-link"><%=user.fridge[i].name%></a>
						<br><br>
						<%if(isCurrent) {%>
							<form id="remove-beer-form" action="/users/<%=user._id%>/fridge?_method=DELETE" method="POST">
								<input type="hidden" name="beerId" value="<%=user.fridge[i]._id%>">
								<button class="drink-it-button">Drink It</button>
							</form>
						<%}%>
					</li>
				<%}%>
			</ul>
		</div>
	</div>
	<div class="inside-container" id="click-to-open">
		<h3>Click my fridge to open it!</h3>
	</div>
	<div class="inside-container" id="click-to-close">
		<h3>Click my fridge again to close it!</h3>
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", function(){
			$('#fridge-picture').on('click', function(){
				$('#fridge').show();
				$('#click-to-close').show();
				$('#click-to-open').hide();
				$('#fridge-picture').hide();
			})
			$('#fridge').on('click', function(){
				$('#fridge').hide();
				$('#click-to-close').hide();
				$('#click-to-open').show();
				$('#fridge-picture').show();
			})
		});
	</script>
	<br><br>
</div>

<% include ../partials/footer%>