<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1><%=user.username%></h1>
	<div class="ejs-text">
		Username: <%=user.username%><br>
		Email: <%=user.email%><br>
		<%=user.city%>, <%=user.state%><br>
		Fridge: 
		<ul>
			<% for (let i = 0; i < user.fridge.length; i++){%>
				<li>
					<a href="/beers/<%=user.fridge[i]._id%>"><%=user.fridge[i].name%></a>
					<%if(isCurrent) {%>
						<form action="/users/<%=user._id%>/fridge?_method=DELETE" method="POST">
							<input type="hidden" name="beerId" value="<%=user.fridge[i]._id%>">
							<button>Drink It</button>
						</form>
					<%}%>
				</li>
			<%}%>
		</ul>

		<%if(isCurrent) {%>

			<button><a href="/users/<%=user._id%>/edit">Edit Yourself</a></button>
			

		<%}%>
	</div>
</div>

<% include ../partials/footer%>