<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1><%=user.username%>'s Profile</h1>
	<br>
	<div class="show-wrap">
		<div class="show-img">
			<img class="upload-img" 
			<%if (user.image.data) {%>
				src= "/users/<%=user._id%>/image"
			<%} else {%>
				src= "/images/beerdefault.png"
			<%}%>
			alt="<%=user.username%> profile">
		</div>
		<div class="show-text">
			<p>Email: <%=user.email%></p>
			<p>Located In: <%=user.city%>, <%=user.state%></p>
			<%if(isCurrent) {%>
				<button><a href="/users/<%=user._id%>/edit">Edit Yourself</a></button>
			<%}%>
		</div>
		<br>
	</div>
	<br><br>
	<div id="fridge-btn">
		<div class="inside-container">
			<h3>Click to open my fridge!</h3>
		</div>
	</div>
	<div id="fridge">
		<div class="inside-container">
			<h3><%= user.username %>'s Fridge:</h3>
			<ul>
				<% for (let i = 0; i < user.fridge.length; i++){%>
					<li class="user-fridge-li">
						<a href="/beers/<%=user.fridge[i]._id%>"><%=user.fridge[i].name%></a>
						<br>
						<%if(isCurrent) {%>
							<form id="remove-beer-form" action="/users/<%=user._id%>/fridge?_method=DELETE" method="POST">
								<input type="hidden" name="beerId" value="<%=user.fridge[i]._id%>">
								<button>Drink It</button>
							</form>
						<%}%>
					</li>
				<%}%>
			</ul>
		</div>
	</div>
	<script>
		document.addEventListener("DOMContentLoaded", function(){
			$('#fridge-btn').on('click', function(){
				$('#fridge').show();
				$('#fridge-btn').hide();
			})
		});
	</script>
	<br><br>
</div>

<% include ../partials/footer%>