<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1><%= brewery.name %></h1>
	<div class="ejs-text">
		<p>Brewery Location: <%= brewery.city %>, <%= brewery.state %></p>
		<p>Created by: <a href="/users/<%= user._id %>"><%= user.username %></a>
		</p>
		<div class="inside-container">
			<h3><%= brewery.name %>'s Beer Selection:</h3>
			<ul>
				<% for (let i = 0; i < brewery.beers.length; i++) { -%>
					<li><a href="/beers/<%= brewery.beers[i]._id %>"><%= brewery.beers[i].name %></a></li>
				<% } -%>
			</ul>
		</div>
		<br>
		<%if(isCurrent){%>
			<form action="/breweries/<%brewery._id%>/edit" method="GET">
				<button>Edit This Brewery</button>
			</form>
		<%}%>
	</div>
</div>

<% include ../partials/footer%>