<% include ../partials/head %>
<body>
	<% include ../partials/header %>

	<main>
		<h1><%=beer.name%></h1>

		<p>The Type is: <%=beer.type%></p><br>
		<p>Made By: <%=beer.maker%></p><br>
		<p>The Price is: <%=beer.price%>/4</p><br>
		<p>The beer has been described as: <%=beer.flavor%></p><br>
		<p>It's color is: <%beer.color%></p>


	</main>



<% include ../partials/footer%>