<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1><%=beer.name%></h1>
	<br>
	<div class="show-wrap">
		<div class="show-img">
			<img class="upload-img" 
			<%if (beer.image.data) {%>
				src= "/beers/<%=beer._id%>/image"
			<%} else {%>
				src= "/images/beerdefault.png"
			<%}%>
			alt="<%=beer.name%> picture">
		</div>
		<br><br>
		<div class="show-text">
			<p>Type of Beer: <%=beer.type%></p>
			<p>Made By: <%if(beerBrewery !== null){%><a href="/breweries/<%=beerBrewery._id%>"><%}%><%=beer.maker%></a></p>
			<p>Price: <% for(let i = 1; i <= beer.price; i++) { %>$<%}%></p>
			<p>The beer has been described as: <%=beer.flavor%></p>
			<p>Color: <%=beer.color%></p>
		</div>
	</div>
		<br>
	<div>
		<p>Upvotes <%=beer.plusOnes.length%></p>
		<%if(alreadyVoted === false) {%>
			<form action="/beers/<%=beer._id%>/upvote/upvote?_method=PUT" method="POST">
				<button>UPVOTE</button>
			</form>
		<%}%>
	</div>
	<div>
		<%if(currentUser){%>
			<form action="/users/<%=user._id%>?_method=PUT" method="POST">
				<input name="beerid" type="hidden" value="<%=beer._id%>">
				<button>Add To Your Fridge</button>
			</form>
		<%}%>
		<br>
		<%if(isCurrent) {%>
			<form action="/beers/<%=beer._id%>/edit" method="get">
				<button>Edit This Beer</button>
			</form>
		<%}%>
	</div>
	<div id="show-fridges">
		<ul><%=beer.name%> is in these fridges:
			<% for (let i = 0; i < beerOwners.length; i++) { %>
				<li>
					<a href="/users/<%=beerOwners[i]._id%>"><%=beerOwners[i].username%></a>
				</li>
			<% } %>
			
		</ul>
	</div>
	<br><br>
</div>

<% include ../partials/footer%>