<% include ../partials/head %>
<% include ../partials/header %>

<div class="wrap">
	<h1><%=beer.name%></h1>
	<br>
	<div class="ejs-text">
		<p>Type of Beer: <%=beer.type%></p>
		<p>Made By: <%=beer.maker%></p>
		<p>Price: <%=beer.price%>/4</p>
		<p>The beer has been described as: <%=beer.flavor%></p>
		<p>Color: <%=beer.color%></p>
		<br>
		<img src="/beers/<%=beer._id%>/image" alt="<%=beer.name%> picture">

		<%if(currentUser){%>
			<form action="/users/<%=user._id%>?_method=PUT" method="POST">
				<input name="beerid" type="hidden" value="<%=beer._id%>">
				<button>Add To Your Fridge</button>
			</form>
		<%}%>
		<br>
		<%if(isCurrent) {%>
			<button><a href="/beers/<%= beer._id %>/edit">Edit This Beer</a></button>
		<%}%>
	</div>
</div>

<% include ../partials/footer%>